<html lang="pt-br">
<head>

<title>Noticia 1</title>

<meta charset="UTF=8">
<link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
<h1>JR News</h1>
	<h2>Um site aí</h2>
	<hr>
<h3>Noticia 1</h3>
<img src="..\images/paraguaio.jpg"/>

<h4>Papagaios são da família Psittacidae. Psittacidae é uma família de aves pertencentes à ordem dos Psittaciformes, que compreende a espécies de papagaios e periquitos e as araras, entre outros. É uma das três famílias dos chamados "papagaios verdadeiros". Compreende 37 gêneros e 175 espécies das subfamílias Psittacinae e Arinae.</h4>

<a href="..\noticia1.html">V o l t a r</a>
	
<hr>
<p class="dev-texto">Desenvolvido por: JR</p>

</body>
</html>
